/* :root */
:root {
    --site-padding: 50px;
    --main-text-color: #333333;
}

/* General */
body {
    background-color: #ebebeb;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p { margin: 0; }

h1, h2, h3, h4, h5 {
    color: #000;
    font-family: "Lora", serif;
}

h6, p { color: var(--main-text-color); }

hr {
    background-color: var(--main-text-color);
    margin: 25px 0;
    opacity: 1;
}

/* Bootstrap Customization */
.container-fluid {
    margin: 0;
    padding: 0;
}

.row { margin: 0; }

/* Layout */
#layout { height: calc(100vh - 200px); }

    /* Layout: Logo */
    #layout #logo img { width: 100%; }

    /* Layout: Navbar */
    nav {
        background-image: url("/images/color_textures/grey.png");
        background-repeat: repeat;
        background-size: auto;
        height: 100%;
        padding: var(--site-padding) !important;
    }
        nav .nav-item { line-height: 1.75;}

    /* Layout: Main */
    #main { padding: 0 var(--site-padding); }

/* Footer */
footer {
    background-image: url("/images/color_textures/mediumblue.png");
    background-repeat: repeat;
    background-size: auto;
    bottom: 0;
    position: absolute;
    height: 200px;
    width: 100%;
}